<div *ngIf="restaurant" class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center"> {{ restaurant.name }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img [src]="restaurant.picture">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ restaurant.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Adresse</td>
                                <td><strong>{{ restaurant.adresse}}</strong></td>
                            </tr>
                            <tr>
                                <td>Types</td>
                                <td>
                                    <span *ngFor="let type of restaurant.types"class="{{ type | restaurantTypeColor }}">
                                        {{ type }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Dernière visite</td>
                                <td><em>{{ restaurant.derniereVisite | date:"dd/MM/yyyy"}}</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="goToRestaurantList()">Retour</a>
                    <a (click)="goToEditRestaurant(restaurant)">Editer</a>
                    <a (click)="deleteRestaurant(restaurant)">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

</div>

<h4 *ngIf="!restaurant" class="center">
    <app-loader></app-loader>
</h4>
